<div class="page-header">
  <h1>Quotes</h1>
</div>
<ul class="list-unstyled list-inline">
  <li><a href="<%= newQuotesPath() %>" class="btn btn-primary">Create New Quote</a></li>
</ul>

<table class="table table-striped">
  <thead>
  <th>Name</th>
    <th>Quote</th>
    <th>Quotes</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (quote) in quotes { %>
      <tr>
      <td><%= quote.Name %></td>
        <td><%= quote.Quote %></td>
        <td><%= quote.Quotes %></td>
        <td>
          <div class="pull-right">
            <a href="<%= quotePath({ quote_id: quote.ID }) %>" class="btn btn-info">View</a>
            <a href="<%= editQuotePath({ quote_id: quote.ID }) %>" class="btn btn-warning">Edit</a>
            <a href="<%= quotePath({ quote_id: quote.ID }) %>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
